form {
  max-height: 100vh;


}


.Headers {
  font-weight: 700;
  font-size: 15.5949px;
  overflow: hidden;
  align-items: center;
  width: 99.5% !important;
  border-radius: 0px 20px 0px 20px !important;
  height: 80px;
  margin-left: 3px !important;
  background-color: #E8E8E8;

  padding-left: 38px !important;
  padding-top: 24px;
  margin-left: 20px !important;
  margin-top: -30px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 15.5949px;
  line-height: 19px;
  padding-top: 29px;
  margin-bottom: 30px;
  color: #000000;



}

.form input {

  margin-top: -6px;
  width: 97%;
  height: 50px;
  border: none;
  border-radius: 20px;
  border: none !important;
  padding-left: 20px;

  font-weight: 300;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;

}

.form>input::placeholder {

  font-weight: 600;
}

.form input:focus {

  outline: none;

}

.ButtonSection {

  display: flex;
  justify-content: space-between;
  margin-right: 27px;
  margin-top: 4rem;

}



.SubmitButton {


  width: 186px;
  height: 51px;
  background: linear-gradient(89.98deg, #19469D 23.67%, #00A3FF 97.94%);
  border-radius: 20px;
  color: white;
  border: none;
  margin-top: 22px;
}



.RaceButtonDiv {

  display: flex;
  justify-content: end;
  margin-right: 30px;
  margin-top: 5rem;

}

.updateButton {
  margin-top: 1.5rem;
  width: 186px;
  height: 51px;
  background: linear-gradient(89.98deg, #010306 23.67%, #4d5a62 97.94%);
  border-radius: 20px;
  color: white;
  border: none;
  margin-right: 2.8rem;
}


.AddAnother {


  background: rgba(202, 202, 202, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  width: 250px;
  height: 58px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 25px;

  color: #8C8C8C;
  margin-top: 20px;

  margin-left: 17px;
}

.AddAnother>svg {


  color: #8C8C8C;
  font-weight: 900;
  margin-left: 15px;
}

.selectdir {
  direction: rtl;
  margin-left: 48px;
  width: 100%;
}





input::file-selector-button {

  color: white;
  background: linear-gradient(89.98deg, #19469D 23.67%, #00A3FF 97.94%);
  ;
  border-radius: 20px;  

  border: none;
  width: 186px;
  height: 51px;
  padding: 10px 20px;
  cursor: pointer;
}

.mainrow {
  margin-top: 15px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  height: 57.43px;
  border-radius: 20px;

  width: 97%;
  margin-left: 19px;

}



.css-1s2u09g-control:focus {
  outline: none;

}

.spanForm {
  display: flex;
  justify-content: end;
  font-size: 2rem;
  margin-top: -52px;
  font-weight: 100;
  color: lightgray;
}


.css-1s2u09g-control:active {
  border: none !important;
  outline: none !important;
}

.css-1s2u09g-control::before {
  border: none !important;
  outline: none !important;
}

.css-1s2u09g-control:focus {
  border: none !important;
  outline: none !important;
}

.singleButtonSection {

  display: flex;
  justify-content: end;
  margin-right: 30px;
  margin-top: 5rem;
  margin-left: 30px;
}

.css-1pahdxg-control {


  border: transparent !important;
  box-shadow: none !important;
}

.css-1s2u09g-control {

  border: transparent !important;
  box-shadow: none !important;

}

.css-1s2u09g-control {
  border-radius: 30px !important;

  height: 37px;
  border: 1px solid #fff !important;
}

.css-b62m3t-container {
  position: relative;
  box-sizing: border-box;

  padding: 0px 10px !important;
}



.css-1okebmr-indicatorSeparator {
  display: none;
}

.css-b62m3t-container {
  position: relative;
  box-sizing: border-box;
  width: 95%;
  max-height: 50px;
  margin-top: -10px;
  height: 50px;
  border: none;
  border-radius: 20px;
  padding-bottom: -10px;
  padding-left: 20px;
  padding-top: 7px;
  font-weight: 300;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
}

.css-1s2u09g-control {

  height: 11px !important;
}

.css-14el2xx-placeholder {
  color: hsl(0, 0%, 50%);
  grid-area: 1/1/2/3;
  margin-left: 2px;
  margin-right: 2px;
  box-sizing: border-box;
  padding-right: 2px !important;
}

.css-tj5bde-Svg {
  display: inline-block;
  fill: currentColor;
  line-height: 1;
  stroke: currentColor;
  stroke-width: 0;
  margin-left: -54px;
}

.formInput {

  width: 97%;
  height: 50px;
  border: none;
  border-radius: 20px;
margin-top: 10px;
  padding-left: 20px;

  font-weight: 300;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;



}
.css-6j8wv5-Input {
  margin: -3px;
  padding-bottom: 2px;
  padding-top: 2px;
  visibility: visible;
  color: hsl(0, 0%, 20%);
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: inline-grid;
  grid-area: 1/1/2/3;
  grid-template-columns: 0 min-content;
  box-sizing: border-box;
}
.css-14el2xx-placeholder {
  color: hsl(0, 0%, 50%);
  grid-area: 1/1/2/3;
  margin-left: 2px;
  margin-right: 2px;
  box-sizing: border-box;
  margin-bottom: 10px;
}
.PreviewImage{

  width: 15rem;
  height: 15rem;
  margin: 19px;
  border-radius: 50px;

}
span.react-date-picker__inputGroup__divider {
  display: none !important;
}
.react-date-picker__wrapper {
  display: flex;
  flex-grow: 2;
  width: 100% !important;
  flex-shrink: 0;
border: none !important;
}
.react-date-picker__inputGroup {
  min-width: calc((4px * 3) + 0.54em * 8 + 0.217em * 2);
  flex-grow: 1;
  padding: 0 2px;
  box-sizing: content-box;
  width: 687px;
}
.react-datetime-picker.react-datetime-picker--closed.react-datetime-picker--enabled {
  width: 100%;
}
.react-datetime-picker.react-datetime-picker--open.react-datetime-picker--enabled {
  width: 100%;
}
.react-datetime-picker__wrapper {
  border: none;
}
.react-datetime-picker__inputGroup__input {
  min-width: 2.54em;
}

.react-datetime-picker__inputGroup__divider{
  display: none;
}
.react-datetime-picker__wrapper {
  border: thin solid #fff !important;
}
.react-date-picker__calendar .react-calendar {
  border-width: 3px !important;
  border-radius: 20px;
  font-size: 12px;
  border-color:#19469D;
}
.react-date-picker, .react-date-picker *, .react-date-picker *:before, .react-date-picker *:after {
  font-size: 12px;
  box-sizing: border-box;
}
/* .col-sm:after {
  content: " *";
  font-size: 31px;
  color: rgb(214, 78, 78);
  display: flex;
  align-items: center;
  margin: -36px 0px 0px 1px;
} */
.addmore {
  position: relative;
  background: transparent;
  border: none;
  color: lightgray;
  margin-right: 18px;
  margin-top: 10px;
  padding: 0px 6px 0px 6px !important;
}

.displaynew{
  display: none !important;
}

.textverdict{
  border: none;
}
.textverdict:focus-visible{
  border: none !important;
}

.verdictname{
  max-width: 300px !important;
}

.mb-3.form-floating {
  margin-top: -2px;
  width: 91%;
  height: 32px;
  border: none;
  border-radius: 20px;
  border: none !important;
  padding-left: -1px;
  font-weight: 300;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
}
.mb-3.form-floating:active {
  border: none;
  
}
.form-floating>.form-control, .form-floating>.form-control-plaintext, .form-floating>.form-select {
  height: calc(2.5rem + 2px);
  line-height: 2.25;
}
.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
   box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25); 
}
.form-floating>.form-control-plaintext:focus, .form-floating>.form-control-plaintext:not(:placeholder-shown), .form-floating>.form-control:focus, .form-floating>.form-control:not(:placeholder-shown) {
  padding-top: 1.625rem;
  padding-bottom: 0.625rem;
  font-size: 14px;
}





.form-floating>label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 0.8rem 0.25rem;
  pointer-events: none;
  border: 1px solid transparent;
  transform-origin: 0 0;
  transition: opacity .1s ease-in-out,transform .1s ease-in-out;
  
}

.floatingInputAr>label{
  right: -31px;
  left: initial;

}
button.Approvedbtn.resultbtn{
  color: #000;

}
input#floatingInput {
  margin-right: -22px;
}

.css-1rhbuit-multiValue {
  background-color: hsl(0, 0%, 90%);
  border-radius: 2px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 2px;
  /* min-width: 0; */
  /* width: auto; */
  width: fit-content !important;
  box-sizing: border-box;
  max-width: 83px !important; 
}
.css-12jo7m5 {
  border-radius: 2px;
  color: hsl(0, 0%, 20%);
  font-size: 85%;
  overflow: hidden;
  padding: 3px;
  padding-left: 6px;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
  margin-left: 15px !important;
}
.css-tj5bde-Svg {
  display: inline-block;
  fill: currentColor;
  line-height: 1;
  stroke: currentColor;
  stroke-width: 0;
  margin-left: 15px !important;

}
.css-1rhbuit-multiValue {
  background-color: hsl(0, 0%, 90%);
  border-radius: 2px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 2px;
 width: fit-content !important;
  box-sizing: border-box;
}
.css-g1d714-ValueContainer div {
  width: 140px !important;
  margin-right: 10px;
}
.css-1rhbuit-multiValue {
  background-color: hsl(0, 0%, 90%);
  border-radius: 2px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 2px;
  min-width: 100px;
  justify-content: space-between;
  box-sizing: border-box;
  max-width: 150px !important;
  display: flex !important;
}
.css-1rhbuit-multiValue svg {
  position: relative;
  left: 20px;
}
table.Prizeclass {
  width: 100%;
  border-spacing: 0;
}

.Prizeclassthead{
 text-align: center;
 font-size: 18px;
}
.Prizeclasstbody{
  text-align: center;
  font-size: 16px;
 
}
.Prizeclasstbody > tr{
  border-width: 0;
  padding-top: 10px
}

.react-datetime-picker__inputGroup__input:invalid {
  background: transparent !important;
}
.react-date-picker__inputGroup__input:invalid {
  background: transparent !important;
}
.spanForm {
  display: flex;

  font-size: 2rem;
  margin-top: -52px;
  font-weight: 100;
  color: lightgray;
  justify-content: flex-end;
  margin-left: 134px !important;
  margin-right: -43px;
}
.floatingInputAr>label {
  right: -31px;
  left: initial;
  padding-right: 44px;
}

.Lottie{
  display: flex;
  margin-left: 30%;
  top: -10 !important;
}

label.Multiplecaplabel {
  padding: 10px 0px 10px 35px;
  font-weight: 600;
}
.Multipleownerlabel {
  padding: 0px 0px 10px 35px;
  font-weight: 600;
}
.starcss {
    margin-top: -22px;
}